@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body{
    background-color: rgb(154, 238, 151);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(45, 226, 39);
}
h1#principal{
    text-align: center;
    background-color: rgb(8, 124, 4);
    color: white;
}
h2{
    color: rgb(42, 71, 41);;
}
.basico{
    color: #3c905e;
    font-weight: 600;
}
.intermediario{
    color: #81903c;;
}
.avançado{
    color: #8d6f2e;
}
.destaque{
    background-color: #745924ab;
}